<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>Ajuda</title>
		<link rel="stylesheet" type="text/css" href="../CSS/css_inicial.css">
	</head>
	<body class="ajuda">
		<h1>Ajuda</h1>
		<h3>-> Obter TODAS as tarefas de TODOS os usuários</h3>
		Acesse <a href="https://todothalessa.000webhostapp.com/api/todo/read.php">
		https://todothalessa.000webhostapp.com/api/todo/read.php</a>
	    <h3>-> Obter TODAS as tarefas de um usuário específico</h3>
		Acesse <a href="https://todothalessa.000webhostapp.com/api/todo/buscarUser.php?usuario=USUARIO">
		https://todothalessa.000webhostapp.com/api/todo/buscarUser.php?usuario=USUARIO</a>
	   	<br><br>Substitua USUARIO pelo nome do usuário que se deseja buscar.
	   	<br><br>
		<form>
        <input class ="clicar" type="button" onclick="window.location.href = 'formlogin.php';" value="Voltar"/>
        </form>
	</body>
</html>
